.container {
background-color: brown;
box-sizing: border-box;
padding: 0%;
margin: auto;
width: 800px;
height: 50vh;
display: grid;
grid-template-rows: 20% 20% 10% 25% 25%;

font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
}

header{
    
   background-color: blue;
  text-align: center;
  padding-top: 30px;
    color:white;
}

nav{
    background-color: rgb(20, 204, 0);
    text-align: center;
    padding-top: 30px;
      color:white;
}
#content{
    background-color: rgb(204, 0, 170);
    text-align: center;
    padding-top: 7px;
      color:white; 
}
#sidebar{
    background-color: rgb(119, 0, 204);
    text-align: center;
    padding-top: 40px;
      color:white; 
}
footer{
    background-color: rgb(154, 0, 64);
    text-align: center;
    padding-top: 40px;
      color:white;    
}